* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #f8f9fa;
  }
  .ancho--total{
    display: grid;
    
  }
  /* presentacion */
  .presentacion--container{
    background-color: #e9ecef;

    display: flex;
    align-items: center;
    gap: 1em;
  }
  /* der */
  .presentacion--der{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
  }
  .presentacion--inicial{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .presentacion--informacion{
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .presentacion--icono{
    display: flex;
    align-items: center;
    gap: 1em;
  }
  /* solapa */
  .solapa--container{
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
  }

  .contenido--extras{
    background-color: #dee2e6;
  }
  /* tecnologias */
  .tecnologias{
    background-color: #e9ecef;

  }
.icono--titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  /* responsive */
