/* el asterizco significa que aplica a todo */
/* son reglas generales para comenzar un proyecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* centrado de contenido simple con grid */
body {
  display: grid;
  place-items: center;
}
/* tamaño total de la pagina */

/* Arreglos por hacer: 
.agrupar el contenido a un 75% de 1440px
.verificar que el tamñano de pantalla sea adecuado en la notebook
.Con grid, la solapa de educacion debe ir debajo de presentacion
*/


.wrapper {
  width: 1440px;
}
/* nav */
.nav--container {
  outline: 1px dotted black;

  height: 2em;
}
/* presentation */
.presentation--container {
  /* outline: 1px dotted black; */
  display: flex;

  width: 95%;
  height: 15em;

  border-radius: 5px;
  background-color: #edede9;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
}
/* izquierda */
.presentation--left {
  /* outline: 1px dotted black; */
  width: 20%;

  display: grid;
  place-items: center;
}
.presentation--image {
  outline: 1px dotted black;

  border-radius: 50%;
  height: 10em;
  width: 10em;

  display: grid;
  place-items: center;
}
/* derecha */
.presentation--right {
  /* outline: 1px dotted black; */
  width: 80%;

  display: flex;
  flex-direction: column;
}
.presentation--name {
  display: flex;

  padding-left: 2em;
  padding-top: 2em;
}
.presentation--profesion {
  display: flex;
  align-items: center;

  gap: 1em;
  width: 50%;
  border-top: 1px solid black;
}
/* links--contacto */
.presentation--calltoAction {
  display: flex;
 

  gap: 1em;

  margin-top: 2em;
}
/* agrupo texto con icono*/
.presentation--email {
  display: flex;
  align-items: center;
  gap: 1em;
}
.presentation--phone {
  display: flex;
  align-items: center;
  gap: 1em;
}
.presentation--linkedin {
  display: flex;
  align-items: center;
  gap: 1em;
}
.presentation--portfolio {
  display: flex;
  align-items: center;
  gap: 1em;
}
/* contenido */
.contenido--container{
    display: flex;
    /* outline: 1px dotted black; */

height: 100vh;
width: 100%;


}
/* izq */
.contenido--izq{
width: 20%;

/* outline: black solid 1px; */

background-color: #edede9;

display: flex;
flex-direction: column;
/* justify-content: start; */

}
/* educacion */
.contenido--educacion{
padding: 2em;
margin-top: 40px;

display: flex;
flex-direction: column;
gap: 2em;
}
.educacion--icono{
    display: flex;
    align-items: center;
    gap: 5px;
}
/* objetivos */
.contenido--objetivos{
padding: 2em;
display: flex;
flex-direction: column;
gap: 2em;

}
.objetivos--icono{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
/* der */
.contenido--der{
width: 80%;

/* outline: 1px solid black; */

}
